<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Cat Work</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto">
        </ul>
        <div [hidden]="!loggedIn">
          <span class="navbar-text">
            <h2>{{ getHelloMessage(this.userName) }}</h2>
          </span>
        </div>
        <div [hidden]="loggedIn">
          <button type="button" class="btn btn-primary" routerLink="/login">Login</button>
        </div>
        
      </div>
    </div>
</nav>