<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Cat Work</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto">
        </ul>
        <ng-container *ngIf="loggedIn; else logInButton">
          <span class="navbar-text">
            <p>{{ getHelloMessage() }}</p>
          </span>
        </ng-container>
        <ng-template #logInButton>
          <button type="button" class="btn btn-primary">Login</button>
        </ng-template>
        
      </div>
    </div>
</nav>